* {
    box-sizing: border-box;
}

/* transform - влістивість CSS яка дозволяє певним чином деформувати об'єкт CSS (сплющувати, розтягувати, повертати, тощо)

transform: scale(2, 0.5) - дозволяє зменшувати/збільшувати обєкт по осі x та y, де перший аргумент це знанчення по осі X а другий аргумент по осі Y (в цьому прикладі ми розширили елемент по X вдвічі, і зменшили по осі Y вдвічі)

transform: translate(120px, 50%) - дозволяє пересовувати обєкт від поточного місцезнаходження, де перший аргумент це зміщення по осі Х а другий аргумент по осі Y. додатні значення аргуменів совають зліва на право і зверху вниз, а відємні значення аргументів совають зправа на ліво, знизу вверх. якщо ми використовуємо % то пересовування відбуваться від величини самого обєкта а не батьківського елемента. тут ми зсунули оюєкт вниз на половину його власної висоти відносто його місцезнаходження

transform: rotate(0.5turn) - дозволяє обертати обєкт навколо власної осі, тут ми робем оберт на половину */
header {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* розміщуємо заголовок точно по ценру по ширині і висоті екрану */
h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-size: 20px;
    transition: transform 0.1s;
}

button:hover {
    transform: scale(1.1);
}